<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formaulário</title>
</head>

<body>
    <h1>Adicionar usuário</h1>

    <form action="/users/save" method="POST">
        <div>
            <label for="">Nome</label>
            <input type="text" placeholder="Digite um nome">
        </div>
        <div>
            <label for="">Idade</label>
            <input type="number" placeholder="Idade">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>

</html>